@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    font-family: 'Kanit', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 85vw;
    height: 100%;
    margin: 0 auto;
    position: relative;
}