footer {
    background-color: #f7bb65;
}

footer .wrapper {
    display: flex;
    justify-content: space-around;
    padding: 32px 0;
}

.footer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    text-align: center;
    font-size: 1.2rem;
}

@media screen and (max-width: 575px) {
    .footer-block h2 {
        font-size: 1.4rem;
    }

    .footer-block span,
    .footer-block a {
        font-size: 1rem;
    }
}

a {
    color: #000000;
    text-decoration: none;
}